@font-face {
  font-family: "Saira";
  src: url(./saira-regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Saira";
  src: url(./saira-semibold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}
